<!DOCTYPE html>
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Billbo App</title>

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/billbo.css" />
    <link rel="stylesheet" href="css/reveal.css" />
  </head>

  <body>
    <header>
      <div class="row">
        <div class="twelve columns">
          <h1>Billbo <small><%= i18n.subtext %></small></h1>
        </div>
      </div>
    </header>
    <section>
      <%= yield %>
    </section>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.tinysort.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/billbo.js"></script>
    <script type="text/javascript">
      $(document).foundation();

      $(document).ready(function() {
        $('.gt_value').click(function() {
          $('ul#all-bills>li').tsort('p.total_amount',{order:'desc'});
        });

        $('.lt_value').click(function() {
          $('ul#all-bills>li').tsort('p.total_amount');
        });

        $('.due_date').click(function() {
          $('ul#all-bills>li').tsort('p.due_date');
        });

        $('.sort_list a').click(function() {
          $("a.current").removeClass("current");
          $(this).addClass("current");
        });
      });
    </script>

  </body>
</html>

