<!DOCTYPE html>
<html>
  <head>
    <title>Billbo App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/billbo.css" />
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/billbo.js"></script>
  </head>

  <body>
    <div class="container" >
      <div class="page-header">
        <h1>Billbo <small><%= i18n.subtext %></small></h1>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
