.reserved {
  background-color: #FFCCCC;
}

.opened {
  background-color: #CEEFCC;
}

div.sort_list {
  font-size: 0.8em;
  color: #999;
}

p.issued-by {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  margin: 15px 0px 5px 0px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.label.secondary:hover {
  background-color: silver;
}

a.button.secondary {
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
}

a.button.secondary:hover {
  background-color: #2284a1;
  color: white;
}

a.label {
  color: white;
}

.th.radius img {
  margin-top: 10px;
}

.th.radius p {
  margin: 10px;
}

.flags {
  top: 35px;
}

.prefix {
  position: static;
}

.alert-box ul {
  margin-bottom: 0px;
}

.title a {
  color: #000;
}
