@charset "utf-8";

body {
  background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {margin: 0}
img {
  max-width: 100%;
}

header {
  box-shadow: 0 1px 3px #ddd;
  background-color: #fff;
}

header h1 a {
  font-family: 'Open Sans', sans-serif;
}

header .text-right {
  margin-top: 10px;
}

header .login-link {
  margin-right: 20px;
  color: #444;
  font-size: 13px;
  font-weight: bold;
}

header .login-link:hover {
  text-decoration: underline;
}

#logo a {
  font-size: 30px;
  color: #333;
  font-weight: 800;
}
#logo a:hover {
  text-decoration: none;
}

#site-phrase-wrapper {
  padding: 20px 0;
  background-color: #444;
  margin-bottom: 30px;
}

#site-phrase-wrapper h3 {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.ngo{
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

h1 {
  margin: 3px 0 10px;
  line-height: 30px
}

.title a {
  color: #333;
  margin-top: 0;
  display: block;
  font-weight: normal;
}
.hover:hover {
  text-decoration: underline;
}

.link-lang:hover {
	text-decoration: none;
}

.ngo-wrapper {
  display: inline-block;
  width: 45%;
  margin: 0 20px 40px;
}
.ngo-wrapper > .img-wrapper {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
}
.ngo-wrapper > .img-wrapper > a {
  display: block;
  text-align: center;
}
.ngo-wrapper img {
  max-height: 200px;
  max-width: 100%;
}
.ngo-wrapper .description-shadow {
  opacity: 0.5;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.ngo-wrapper .description {
  position: absolute;
  top: 155px;
  margin: 0;
  left: 10px;
  color: #fff;
  font-size: 14px;
}
.ngo-wrapper .hidden {
  display: none;
}
.ngo-wrapper:hover .hidden {
  display: block;
}
.ngo-wrapper:hover .img-wrapper {
  box-shadow: 0 2px 5px #ccc;
}


.main-content {
  margin-top: 40px;
}

.ngo-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info {
  margin-top: 30px;
}
.contact-info small {
  margin-right: 20px;
}

#all_bills {
  padding-left: 0;
}
#all_bills li {
  display: inline-block;
  margin: 0 20px 40px;
  width: 265px;
}
.mb40 {
  margin-bottom: 60px;
}

.mb100 {
  margin-bottom: 100px;
}

.sort_list {
  margin-bottom: 40px;
  text-align: center;
}

.nav {
  display: inline-block;
}

.mb20 {
  margin-bottom: 20px;
}

.block {
  display: block;
}

footer {
  margin-bottom: 30px;
}

.thumbnail {
  position: relative;
}

.bill:hover .thumbnail {
  box-shadow: 0 1px 3px #ccc;
}

.bill .hidden-form {
  position: absolute;
  width: 100%;
  padding: 15px;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 100;
  border: 1px solid #ddd;
  box-shadow: 0 1px 10px #ccc;
  display: none;
}

.bill form .form-control {
  margin-bottom: 10px;
}

.thumbnail > .alert {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.iconize {
  font-weight: bold;
  color: #444;
}
.mb10 {
  margin-bottom: 10px;
}
.mr30 {
  margin-right: 30px;
}
.middle-btn {
  margin: 0 5px;
}
.bg-gray {
  background-color: #f5f5f5;
}

.remove_bill_form {
  position: absolute;
  top: -1px;
  left: 100%;
  display: none;
}
.remove_bill_form .btn {
  margin-bottom: 5px;
}
.thumbnail:hover .remove_bill_form {
  display: block;
}

.ngo{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.thumbnail:hover .remove_bill_form {
  display: block;
}

.well {
  background-color: #fff;
  font-size: 30px;
}

.share-button {
  position: relative;
  top: 2px;
}