.bill-details {
  display: none;
}

.active-box {
  display: block;
  width: 650px;
  margin-left: 20px;
}

.bill-box {
  padding: 20px;
  margin-bottom: 20px;
}

.bill-box img {
  width: 150px;
  height: 200px;
}

.bill-details img {
  width: 200px;
  height: 270px;
}

.close-bill-details {
  float: right;
}
