<ul class="nav nav-pills">
  <li class="active">
    <a href="javascript:void(0);" id="gt_value"><%= I18n.t("gt_value") %></a>
  </li>
  <li>
    <a href="javascript:void(0);" id="lt_value"><%= I18n.t("lt_value") %></a>
  </li>
  <li>
    <a href="javascript:void(0);" id="due_date"><%= I18n.t("due_date") %></a>
  </li>
  <li>
    <a href="javascript:void(0);" id="status"><%= I18n.t("bill_opened") %></a>
  </li>
</ul>